header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--brand-green-light);
  width: 100%;
  height: 72px;

  .logo {
    width: 152.86px;
    height: 29.38px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 570px;
    height: 72px;

    transition: color 0.3s ease; /* Suaviza a transição de cor */

    a {
      color: var(--brand-green);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      padding-top: 20px;
      padding-bottom: 30px;
    }

    a:hover {
      color: var(--brand-green-hover);
      border-bottom: 2px solid green;
    }
  }

  .button-consulta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 16px;
    border: 1px solid var(--brand-green);
    border-radius: 40px;
    background: transparent;
    color: var(--brand-green);
    cursor: pointer;
  }

  .button-consulta:hover {
    border: 1px solid var(--brand-green-hover);
    background: var(--brand-green);
    color: var(--white);
  }
}
